:root {
    --wtr-darkest: #0f1523;
    --wtr-darker: #182442;
    --wtr-dark: #1F2E54;
    --wtr-primary: #6E85C1;
    --wtr-light: #C9E5FF;
    --wtr-danger: #b51d1d;
    --wtr-accent: #ffbb00;
}

html {
    scrollbar-color: var(--wtr-darker) var(--wtr-dark);
    scrollbar-width: thin;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(28, 28, 28);
    background-color: var(--wtr-dark);

}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.capitalize {
    text-transform: capitalize;
}

/* header style ---------------------------------------> */